@import "https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&display=swap";

*{
    padding: 0;
    margin: 0;
}



#intro{
    background: url(../images/bg-test.jpg);
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
} 



#navbar{
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 3cm;
    width: 100%;
    font-family:'Baloo Bhaina 2', cursive;
    position: sticky;
    top:0;
    left: 0;;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 3cm;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#left{
    display: flex;
    flex-flow: row;
    align-items: center;
    
}

#left li{
    list-style-type: none;
    font-size: larger;
}

#left li a{
    text-decoration:none;
    color: rgb(253, 253, 253);
    margin-right: 45px;
}

#left li a:hover{
    color:rgb(61, 94, 13);
}

#left img{
    height: 2.5cm;
    border: solid white 5px;
    border-radius: 100%;
    width: 2.8cm;
    margin-right: 25px;
    margin-left: 15px;
}

#right{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#right input{
    margin-right: 30px;
    height: 1cm;
    width: 7cm;
    border-radius: 10%;
    outline: none;
    /* background-color: wheat; */
    background: none;
    border:solid purple 3px;
}

#right button{
    margin-right: 15px;
    width: 3cm;
    height: 1cm;
    background-color: rgb(253, 247, 247);
    cursor:pointer;
    outline: none;
    border-radius: 45px;
    color: white;
    background: black;
    border:solid white 3px;
    font-size:20px;
}

#intro_article{
    display:flex;
    flex-flow: row;
    height:12cm;
    width: 100%;
    /* border:solid white 5px; */
    /* align-items: center; */
    justify-content: center;
    margin-top:4cm
}

#article{
    height:4cm;
    width:13cm;
    /* border:solid white 5px; */
}

#article p{
    color: rgb(255, 255, 255);
    margin-right: 1cm;
    font-family: 'Baloo Bhaina 2', cursive;
    /* font-size: 0.5cm; */
}

#intro_article img{
    height:5cm;
    border:solid white 5px;
    border-radius: 100%;
    background-color: bisque;
}

#buttons button{
    background: white;
    font-family:'Baloo Bhaina 2', cursive;
    font-size: 0.4cm;
    outline: none;
    border:solid 3px black;
    border-radius: 10px;
    cursor: pointer;
    padding:5px;
}

#buttons button:hover{
    background: rgb(243, 160, 160);
    color: rgb(2, 56, 2);
}

#feedform{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(219, 210, 210);
    margin:21px;
    border-radius: 15px;
    width: 96%;
    height: 628px;
    justify-content: center;
}

#feedform h1{
    font-size: 2cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(11, 81, 90);
    
}

input ,textarea{
    width: 100%;
    height: 0.8cm;
    margin: 0.3cm;
    border: solid white 0px;
    border-radius: 3%;
    outline: none;
    font-family:'Ubuntu', sans-serif;
    font-size: larger;
    background-color: rgb(255, 255, 179);
}

textarea{
    height: 4cm;
}

#footer{
    display:flex;
    justify-items: center;
    padding-left: 42%;
    align-items: center;
    background-color: rgb(58, 57, 57);
    height: 1.5cm;
    position: sticky;
    bottom: 0;
    left: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.8cm;
    color :white;
}

#icon{
    margin-right:5px;
}

#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 15px;
    padding: 15px;
    border: solid black 5px;
    border-radius: 10px;
}

.card p{
    font-size: 19px;
    font-family:'Baloo Paaji 2', cursive;
    margin:12px;
}

.card img{
    height: 214px;
    border-radius: 22%;
    border: solid rgb(194, 170, 170) 2px;
}
