*{
    padding: 0;
    margin: 0;
}

#intro{
    background: url(../images/bg-test.jpg);
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
} 



#navbar{
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 3cm;
    width: 100%;
    font-family:'Baloo Bhaina 2', cursive;
    position: sticky;
    top:0;
    left: 0;;
}

/* #navbar::before{
    content: "";
    background-color: black;
    height: 3cm;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

#left{
    display: flex;
    flex-flow: row;
    align-items: center;
    
}

#left li{
    list-style-type: none;
    font-size: larger;
}

#left li a{
    text-decoration:none;
    color: rgb(253, 253, 253);
    margin-right: 45px;
}

#left li a:hover{
    color:rgb(61, 94, 13);
}

#left img{
    height: 2.5cm;
    border: solid white 5px;
    border-radius: 100%;
    width: 2.8cm;
    margin-right: 25px;
    margin-left: 15px;
}

#right{
    display: flex;
    flex-flow: row;
    align-items: center;
}

#right input{
    margin-right: 30px;
    height: 1cm;
    width: 7cm;
    border-radius: 8%;
    outline: none;
}

#right button{
    margin-right: 15px;
    width: 3cm;
    height: 1cm;
    background-color: rgb(253, 247, 247);
    cursor:pointer;
    outline: none;
}

#intro_article{
    display:flex;
    flex-flow: row;
    height:16cm;
    width: 100%;
    /* border:solid white 5px; */
    align-items: center;
    justify-content: center;
}

#article{
    height:4cm;
    width:13cm;
    /* border:solid white 5px; */
}

#article p{
    color: white;
    margin-right: 1cm;
    font-family: 'Baloo Bhaina 2', cursive;
    /* font-size: 0.5cm; */
}

#intro_article img{
    height:5cm;
    border:solid white 5px;
    border-radius: 100%;
    background-color: bisque;
}

#buttons button{
    background: white;
    font-family:'Baloo Bhaina 2', cursive;
    font-size: 0.4cm;
    outline: none;
    border:solid 3px black;
    border-radius: 10px;
    cursor: pointer;
}