<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gym</title>
    style
        include ../static/style.css
</head>
<body>

    <nav>
        <h1>this is the heading</h1>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/"><li>About</li></a>
            <a href="/"><li>Contact Us</li></a>
        </ul>
    </nav>
    
    <form action="/" method = "post">
        <input type="text" name = "name" placeholder = "name">
        <input type="text" name="age" placeholder = "age">
        <input type="text" name="gender" placeholder = "gender">
        <input type="text" name = "address" placeholder = "address">
        <textarea name="more" cols="30" rows="10" placeholder = "more about you"></textarea>
        <input type="submit">
    </form>
</body>
</html>