body{
    width: 700px;
    margin:0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    font-size: 1cm;
    margin-top: 5cm;
    color: rgb(70, 68, 68);
}

article{
    font-size: x-large;
}

a{
    text-decoration: none;
    color: darkgoldenrod;
}