*{
    padding: 0;
    margin: 0;
}

#navbar{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
}

#navbar img{
    height: 100px;
    border-radius: 100%;
    border: 2px solid black;
    margin-right: 15px;
    margin-left: 15px;
}

#navbarlist{
    display: flex;
    align-items: center;
}

#navbarlist li{
    list-style-type: none;
    margin-right: 15px;
}

#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    opacity: 0.5;
}

#navbar li a{
    color: white;
    text-decoration: none;
    font-size: 0.5cm;
    padding: 10px;
    font-family: sans-serif;
}

#navbar li a:hover{
    color:black;
    background-color: white;
    border-width: 5px;
    border-style: dashed;
    border-color: red;
    border-radius: 100px;
}

.opening{
    display:flex;
    flex-flow: column;
    position: relative;
    height: 15cm;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.opening::before{
    position: absolute;
    content: "";
    background-image: url(../images/img/bg/bg1.jpg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:-1;
    opacity: 0.9;
}

.opening h1{
    font-family: sans-serif;
    font-size: 1.5cm;
    color:whitesmoke;
    margin-bottom: 1cm;
}

.opening p{
    width: 20cm;
    text-align: center;
    color: white;
    font-size: 0.5cm;
    margin-bottom: 1cm;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opening button{
    padding: 0.25cm 1cm;
    border: 2px solid black ;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor:pointer;
}

#services_container{
    display: flex;
    flex-flow: column;
}

#services{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.services_heading{
    text-align: center;
    margin-top: 25px;
    font-size: 60px;
    margin-bottom: 25px;
}

.box{
    display: flex;
    flex-flow: column;
    width: 12cm;
    align-items: center;
    height: 13cm;
    border: 5px solid black;
    margin : 10px;
    border-radius: 20px;
    box-shadow: 10px 10px grey;
}

.box p{
    text-align: center;
    font-size: 0.75cm;
}

.box_img{
    height: 200px;
}

.box h2{
    margin:10px;
    font-size: 1cm;
}

#partners{
    display: flex;
    flex-flow: column;
    padding-top: 15px;
    margin-bottom: 0px;
}

/* #partners h1{
    text-align: center;
} */

#partners::before{
    content: "";
    background-image: url(../images/img/bg/bg.jpg);
    width: 100%;
    height: 45%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index:-1;
    opacity: 0.4;
}

.partnerlogo{
    display:flex;
    flex-flow: row;
    justify-content: center;
    
}

.partner{
    height: 100px;
    padding: 52px;
}

#contactform{
    display: flex;
    width: 100%; 
    flex-flow: column;
    justify-content: center;
}

#contactform::before{
    content: "";
    background-image: url(../images/img/bg/contact.jpg);
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no repeat;
    background-position: center center;
    background-size: cover;
}

