doctype html
html
    head
        title 
            |The Dance Academy

        style 
            include ../static/style.css
    body
        nav#navbar
            a(href = '/'): li Home
            a(href = '/'): li About Us
            a(href = '/'): li Courses
            a(href = '/'): li Support
            a(href = '/'): li Contact Us

        div#main
            p Dance With Piyush
            p Eat sleep Dance Repeat
        p#our Our Missions
        div#mission
            
            div.card
                h2 Dance Perfection
                div
                    <img src="../static/img/1.png">
                    p This is the best Dance Academy in the World
            div.card
                h2 Dance Perfection
                div
                    <img src="../static/img/2.png">
                    p This is the best Dance Academy in the World
            div.card
                h2 Dance Perfection
                div
                    <img src="../static/img/3.png">
                    p This is the best Dance Academy in the World

        div#contact
            h1 Contact Us
            input(type="text" for="name" placeholder="Your Name")
            input(type="text" for="age" placeholder="Your Age")
            input(type="text" for="address" placeholder="Your Adress")
            input(type="text" for="exp" placeholder="Any Experience")
            textarea(name="views", cols="30", rows="10",placeholder="Any Opinion")