doctype html
html
    head
        title 
            |The Dance Academy

        style 
            include ../static/style.css
    body
        nav#navbar
            a(href = '/'): li Home
            a(href = '/'): li About Us
            a(href = '/'): li Courses
            a(href = '/'): li Support
            a(href = '/'): li Contact Us